.Python{
    background-color: red;
}
.JavaScript{
    background-color: blue;
}
.YAML{
    background-color: navy;
}
.JSON{
    background-color:olivedrab;
}
.Markdown{
    background-color: greenyellow;

}
.Java{
    background-color:darkcyan;

}
.C{
    background-color: green;
}